.iconoInicio {
    color: #535353!important;
}

.iconoInicio:hover {
    color: white!important;
    cursor: pointer;
}

.navTop {
    height: 50px !important;
    width: 100%;
    display: flex;
    
}

.actions {
    display: flex;
    flex-direction: row;
    width: 10%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.buttons {
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.register {
    color: #6a6a6a;
    margin-right: 20px;
    font-size: 1rem;
}

.register:hover {
    cursor: pointer;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    transform: scale(1);
}

.login {
    padding: 10px 30px 10px 30px;
    color: black;
    background-color: white;
}

.login:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* =================== BENER DE LA PRAYLIST ==========================*/
.playlistContainer {
    width: 100%;
    height: 100%;
    padding: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.info-playlist{
    width: 100%;
    height: 30vh;
    max-height: 400px;
    min-height: 340px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #6a6a6a;
} 
.cardInfo{
    display: flex;
    justify-content: flex-start;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
}

.contentImage{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: inherit;
    position: relative;
    width: inherit;
}

.imgPlaylist {
    width: 100%;
    height: 100%;
}

.title-description-playlist{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: wrap;
}



/* =================== ACIONENES DE LOS BOTONES =================== */
.buttons-playlist{
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.btn-play{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1db954;
    border: none;
    margin: 0 10px 0 10px;
    padding: 0 0 0 5px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn-like-playlist{
    width: 50px;
    height: 50px;
    margin: 0 10px 0 10px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* ==================== SONG TEMPLAT =======================E*/
.playlistSongs{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: space-around;
}

.imageSong{
    height: 64px;
    width: 64px;
}

.viewSongs {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
}